:root{
  --primary: #2e3047;
  --primary-transparant: rgba(46, 48, 71, 0.95);
  --secondary: #daddd8;
  --third: #f5f4ea;
}

html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      /* font-family: 'Poppins', sans-serif; */
       font-family: 'Roboto', sans-serif;
    }

    .fullscreen-container {
      position: relative;
      width: 100vw;
      height: 100vh;
    }

    .bg-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }

    .cursor-info {
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 5px 10px;
      font-family: monospace;
      border-radius: 5px;
      z-index: 2;
    }

    .axis-line {
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      pointer-events: none;
      z-index: 1;
    }

    #xLine {
      height: 1px;
      width: 100%;
    }

    #yLine {
      width: 1px;
      height: 100%;
    }

    #cluster-A path:hover {
      fill: rgba(0, 0, 0, 0.4);
      /* fill: rgba(255, 0, 0, 0.2); */
      cursor: pointer;
    
    }
    #cluster-B path:hover {
      fill: rgba(0, 0, 0, 0.4);
      /* fill: rgba(0, 0, 255, 0.2); */
      cursor: pointer;
    }
    #cluster-C path:hover {
      fill: rgba(0, 0, 0, 0.4);
      /* fill: rgba(255, 255, 0, 0.2); */
      cursor: pointer;
    }
    #cluster-D path:hover {
      fill: rgba(0, 0, 0, 0.4);
      /* fill: rgba(255, 255, 0, 0.2); */
      cursor: pointer;
    }

    .cluster-label {
    fill: white;
    font-size: 18px;
    font-weight:500;
    text-anchor: middle; /* untuk center horizontal */
    pointer-events: auto;
    }

    .cluster-label-status {
    fill: white;
    font-size: 14px;
    font-weight:400;
    text-anchor: middle; /* untuk center horizontal */
    pointer-events: auto;
    }

    .cluster-label-price {
    fill: #00CC00;
    font-size: 14px;
    font-weight:500;
    text-anchor: middle; /* untuk center horizontal */
    pointer-events: auto;
    }

    .description-box {
    position: absolute;
    top: 60px;
    left: 20px;
    background: var(--primary-transparant);
    color: var(--third);
    border-radius: 25px;
    height: auto;
    max-width: 300px;
    z-index: 50;
    backdrop-filter: blur(5px);
    }

    .gallery{
    border: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgba(177, 181, 223, 0.1);
    color: var(--third);
    padding: 5px;
    z-index: 999;
    font-weight: 500;
    width: 100%;
    justify-content: center;
  }

  .gallery:hover{
    background-color: var(--secondary);
    color: var(--primary);
  }

  .hoverable rect,
  .hoverable text {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* agar tidak mengganggu hover path */
  }

  .hoverable:hover rect,
  .hoverable:hover text {
    opacity: 1;
  }